@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Anton', sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 20px 20px 5px 20px;
    font-size: 30px;
    color: #313131;
}

p{
    margin-bottom: 22px;
    color: #313131;
    text-align: center;
}

span{
    color: red;
}

::-webkit-input-placeholder{
    font-family: 'Anton', sans-serif;
}

input[type="text"]{
    margin-bottom: 15px;
    border: 1px solid grey;
    border-radius: 8px;

    text-align: center;

    padding: 8px;
    width: 50px;
}

input[type="text"]:last-child{
    width: 80px;
}

input[type="button"]{
    margin-bottom: 15px;
    border: 1px solid #787878;
    background-color: #787878;
    color: white;
    border-radius: 8px;

    text-align: center;

    padding: 5px;
    width: 50px;
}

input[type="button"]:nth-of-type(4):hover{
    background-color: #666666;
    border: 1px solid #666666;
    color: red;
    cursor: pointer;
    transition: ease-in-out .5s;
}